/*--TYPOGRAPHY--*/
h1 {
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 64px;
  font-weight: 100;
}
h3 {
  font-size: 24px;
}
body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
}


/*--NAV BAR--*/
.navbar-brand {
  font-weight: 600;
  color: #C2188B;
}
.nav-link.active {
  border-bottom: 2px solid #C2188B;
  padding-bottom: 4px;
}
.navbar-toggler{
  color: #C2188B;
}


/*--HERO--*/
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('../images/hero-1.jpg');
  background-size: cover;
  background-position: center;
}
.hero-buttons{
  margin-top: 16px;
}
.hero-text .text-descriptive{
  margin: 16px 0px 32px;
  color: #f7f7f7;
}


/*--BUTTONS--*/
.btn-custom {
  padding: 14px 20px;
  color:white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2px;
  transition: 0.1s;
  text-decoration: none;
  display: inline-block;
  margin: 0px 4px;
  border: none;
}
.btn-primary-custom{
  background-color: #C2188B;
}
.btn-primary-custom:hover {
  background-color: #8E1366;
}
.btn-secondary-custom{
  background-color: #212529;
}
.btn-secondary-custom:hover {
  background-color: #1A1A1A;
}
.btn-outline-custom{
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2px;
  transition: 0.1s;
  text-decoration: none;
  display: inline-block;
  margin: 8px;
  background-color: transparent;
  color: #C2188B;
  border: 1px solid #C2188B;
}
.btn-outline-custom:hover{
  background-color: #C2188B;
  color:white;
}



/*--ALL SECTIONS--*/
.section {
  align-content: center;
  text-align: center;
  padding: 64px 24px;
}


/*--ABOUT US--*/
.about{
  color: #f7f7f7;
}
.about-title span {
  display: inline-block;
  border-bottom: 4px solid #C2188B;
  padding-bottom: 8px;
  margin-bottom: 16px;
  font-size: 32px;
}


/*--OUR MENU--*/
.our-menu span {
  display: inline-block;
  border-bottom: 4px solid #C2188B;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
.card-custom{
  margin-bottom: 24px;
}


/*--BOOKING--*/
.booking label{
  display: block;
  text-align: left;
}
.booking form{
  max-width: 600px;
  margin: 0 auto;
}


/*--FOOTER--*/
.footer{
  padding: 48px 0;
  background-color: #C2188B;
  color: #f7f7f7;
}
.titles-footer{
  margin-bottom: 20px;
}
.custom-footer p{
  margin-bottom: 8px;
}

.section-dark {
  background-color: #1A1A1A;
  color: #FFFFFF;
}
.section-dark p {
  color: #CCCCCC;
}





/*--MENU.HTML--*/
.menu-filters{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 8px;
}
.btn-filter{
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #C2188B;
  position: relative;
  padding: 8px 12px;
  cursor: pointer;
}
/* Line selected */
.btn-filter::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #C2188B;
}
/* active */
.btn-active::after {
  width: 100%;
}
.cards-container{
  margin-top: 56px;
}



/*--MODAL--*/
.modal-backdrop.show{
  background-color: rgba(0,0,0,0.95);
}
.modal-content {
  background: transparent;
  border: none;
  box-shadow: none;
}
#modalImage{
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
  border-radius: 2px;
}
.modal-body {
  color: white;
}

#modalTitle {
  margin-top: 8px;
  font-size: 24px;
}

#modalDescription {
  font-size: 14px;
}
.modal-dialog {
  max-width: 600px;
}
.modal-info{
  background-color: #212529;
  padding: 16px;
}
.modal-info h4{
  color: white;
}
.modal-info p {
  margin: 0;
  color: rgba(255,255,255,0.8);
  font-size: 14px;
}

